body{
 background-color: rgb(255, 60, 0);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #flash{
    margin:auto;
    width:500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .Wells li a{
background-color: rgba(156, 43, 226, 0.699);
color:aliceblue;
padding: 10px 12px;
display: block;
  }
  .Wells li ul{
display: none;
position: absolute;
min-width: 140px;
  }
  ul, ol{
  list-style: none;    
  }
  .Wells>li{
  float: left;    
  }
  .Wells li ul li ul{
  right:-140px;
  top:0px;    
  }
